= render 'forms/errors', resource: @create_event_form

= form_for @create_event_form do |f|
  = f.text_field :name

  = f.url_field :url

  #venue
    = f.collection_select :venue_id, @venues, :id, :name, prompt: "Please select a venue"
    = link_to_add_association "New venue", f, :venue, class: "button small radius"

  = f.select :frequency, [ [ "Weekly", 1 ] , [ "Intermittent", 0 ] ], include_blank: true

  = f.text_field :start_date, class: "date"

  = f.button "Create event"