- if @event.errors.any?
  .alert-box.alert{ data: { alert: true } }
    = "#{ pluralize(@event.errors.count, "error") } prevented this event from being saved"
    =link_to "&times;".html_safe, "#", class: "close"

= form_for @event do |f|
  = f.text_field :url

  = f.select :frequency, [ [ "Weekly", 1 ] , [ "Intermittent", 0 ] ], include_blank: true

  = f.date_field :date

  = f.button "Create event"