%h1= "Event: #{@event.name}"

%h2= "Periods:"
= link_to new_event_event_generator_path(@event), class: "button tiny success" do
  %i.fi-plus
  New period

%ul.event_periods
  = render partial: :event_generator, collection: @event_generators, layout: "common/li_layout"

%h2= "Instances:"
%ul.event_instances
  - @event.event_instances.each do |event_instance|
    %li.row
      .small-10.medium-8.columns
        = link_to event_instance.date, event_instance.url
        %strong Venue:
        = event_instance.venue.name
      .small-2.medium-4.columns.actions
        - if event_instance.cancelled?
          = cancellation_button_for event_instance, false, class: "button tiny un-cancel" do
            %span.button-text Cancelled
            %i.fi-check
        - else
          = cancellation_button_for event_instance, true, class: "button tiny warn cancel" do
            %span.button-text Cancel
            %i.fi-x

        -# TODO: when jquery-rails > 3.1.1 is released, we can add the following:
        -#    data: { confirm: "Are you sure you want to delete this instance?" }
        -#  Currently there's a bug whereby the event handler gets applied twice, and blocks the deletion from happening
        = button_to event_instance_path(event_instance), class: "button tiny alert delete", method: :delete do
          %span.button-text Bin
          %i.fi-trash

= link_to new_event_date_path(@event), class: "button" do
  Add date
  %i.fi-calendar
