%p= @event.name
%ul
  - @event.event_instances.each do |event_instance|
    %li
      = link_to event_instance.date, event_instance.url
      - if event_instance.cancelled?
        = button_to cancellation_path(event_instance, cancelled: false), :method => :patch, class: "button tiny" do
          Cancelled
          %span.close &times;
      - else
        = button_to "Cancel", cancellation_path(event_instance, cancelled: true), :method => :patch, class: "button tiny alert"
      %p
        Venue:
        = event_instance.venue.name


= link_to "add date", new_event_date_path(@event)