%p= @event.name
%ul
  - @event.event_instances.each do |event_instance|
    %li
      %p= link_to event_instance.url
      %p= event_instance.date
      %p
        Venue:
        = event_instance.venue.name
      - if event_instance.cancelled?
        %p Cancelled
      = button_to "Cancel", cancellation_path(event_instance), :method => :patch

= link_to "add date", new_event_date_path(@event)