%p= @event.name
%ul
  - @event.event_instances.each do |event_instance|
    %li
      = link_to event_instance.date, event_instance.url
      - if event_instance.cancelled?
        = cancellation_button_for event_instance, false, class: "button tiny" do
          Cancelled
          %span.close &times;
      - else
        = cancellation_button_for event_instance, true, "Cancel", class: "button tiny alert"
      %p
        Venue:
        = event_instance.venue.name


= link_to "add date", new_event_date_path(@event)