%ul
  - @listing_dance_classes.days.each do |day|
    %li{ id: day.as_id }
      = day.title
      - if day.classes.any?
        %ul
          - day.classes.each do |dance_class|
            %li
              = dance_class.venue.postcode
      - else
        = t('classes.none')

%ul
  - @listing_socials.dates.each do |date|
    - if date.socials.any?
      %li{ id: date.as_id }
        = date.title
        %ul
          - date.socials.each do |social|
            %li
              = social.name
