.row.container
  .columns.small-12
    %header.billboard
      %h1 Swing Out London
      %p Listings of Lindy Hop classes and socials in London
    %hr


.row.container
  #classes.columns.small-12.large-6
    %header.listing
      %h1 Learn!
      %p Weekly classes
    %ul.no-bullet
      - @listing_dance_classes.days.each do |day|
        %li{ id: day.as_id, class: ('panel' if day.today?) }
          %h3= day.title
          - if day.classes.any?
            %ul
              - day.classes.each do |dance_class|
                %li
                  = dance_class.venue.postcode
          - else
            = t('classes.none')

  #socials.columns.small-12.large-6
    %header.listing
      %h1 Dance!
      %p Clubs and Social dancing
    %ul.no-bullet
      - @listing_socials.dates.each do |date|
        - if date.socials.any?
          %li{ id: date.as_id, class: ('panel' if date.today?) }
            %header.social-date
              %h3= date.title
            %ul
              - date.socials.each do |social|
                %li
                  = link_to social.name, social.url
