!!! 5
%html{ :lang => "en"}
  %head
    %meta{ :charset => "utf-8" }

    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

    %title= content_for?(:title) ? yield(:title) : "Swing Out London - Lindy Hop listings"

    = stylesheet_link_tag "application"
    = stylesheet_link_tag "http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tag

  %body
    .off-canvas-wrap{ data: { offcanvas: true } }
      .inner-wrap
        %nav.tab-bar
          %section.left-small
            %a.left-off-canvas-toggle.menu-icon{ href: "#" }
              %span

          %section.middle.tab-bar-section
            %h1.title Swing Out London

        %aside.left-off-canvas-menu
          %ul.off-canvas-list
            %li
              %label Swing Out London
            %li
              =link_to "New Event", new_event_path
            %li
              =link_to "Events", events_path


        %section.main-section
          - flash.each do |name, msg|
            .alert-box{ class: name }= msg

          .row
            .columns
              = yield

        %a.exit-off-canvas

    = javascript_include_tag "application"